<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LM Controle de Estoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LMControleEstoque.styles.css" asp-append-version="true" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!-- Barra lateral -->
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-link align-middle px-0 text-info">
                                    <i class="bi bi-columns-gap"></i> <span class="ms-1 d-none d-sm-inline fs-4">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Produto" asp-action="Index" class="nav-link align-middle px-0 text-info">
                                    <i class="bi bi-bag-fill"></i> <span class="ms-1 d-none d-sm-inline fs-4">Produtos</span>
                                </a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0 text-info">
                                    <i class="bi bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline fs-4">Clientes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0 text-info">
                                    <i class="bi bi-building-fill"></i> <span class="ms-1 d-none d-sm-inline fs-4">Fornecedores</span>
                                </a>
                            </li> -->
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="d-none d-sm-inline mx-1 fs-4">Admin</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="#">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Conteúdo principal -->
                <div class="col py-3">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LMControleEstoque - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
